{%extends "index.html" %}
{%block seo %}
<title>Grab live deals from varous websites</title>
<meta name="description" content="Deals from amazing websites">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> -->

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/css-style.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/css-f69a38.css')}}">
{%endblock%}
    {% block content %}
    
    <div id="mainGrid">
       
        <!-- item are generated dynamicaly -->
    </div>
    

{%endblock%}

