{% set item =itemdata["details"] %}

{%extends "index.html" %}
{%block seo %}
{%set title = item['name']%}
<title>Details of {{ title[:50] }}</title>
<meta name="description" content="Complete details of the product {{item['name']}}">
<meta property="og:title" content="Buy {{item['name']}}" />
<meta property="og:description" content="Check details of {{item['name']}}" />
<meta property="og:image" content="{{item['thumbnails'][0]}}" />
{% endblock %}

{%block content %}

{% include "nav.html" %}

<div id="smain">
    {% include "sidebar.html" %}
    <div id="main">



        <div class="ndiv">
            <div class="img">
                <img src="{{item['thumbnails'][0]}}" alt="{{item['name']}}">
            </div>
            <div class="details">
                <h1>{{item["name"]}}</h1>
                <p class="price">Price: ₹{{item['current_price']}}</p>
                <p class="mrp"><s>MRP: ₹{{item['original_price']}}</s></p>
                <p class="mrp">Discount: {{item['discount_percent']}}%</p>
                <p class="rat">{{item['rating']}}</p>
                <button class="but">
                    {%set buyurl = item['share_url'] +"?&affid=inf_eda32f80-54f3-4e98-965b-0749dbdd2c8d" %}

                    <a href="{{buyurl}}" title="Buy Now" target="blank_">Buy Now</a>

                </button>
            </div>
        </div>
        <div class="spec">
            <h2>Pros and cons:</h2>
            {%for details in item["specs"]%}

            <h3>{{details["title"]}}</h3>
            <p>{{details["details"]}}</p>
            {% endfor %}


        </div>




    </div>
</div>


{% endblock %}
