{% set item =itemdata["details"] %}

{%extends "index.html" %}
{%block seo %}
<title>{{item['name']}}</title>
{% endblock %}

{%block content %}

{% include "nav.html" %}

<div id="smain">
    {% include "sidebar.html" %}
    <div id="main">
        
{{item}}



        <div class="ndiv">
            <div class="img">
                <img src="{{item['thumbnails'][0]}}"
                    alt="{{item['name']}}">
            </div>
            <div class="details">
                <h1>{{item["name"]}}</h1>
                <p class="price">Price: {{item['current_price']}}</p>
                <p class="mrp">MRP:{{item['original_price']}}</p>
                <p class="mrp">Discount: {{item['discount_percent']}}%</p>
                <p class="rat">{{item['rating']}}</p>
                <button class="but">
                    {%set buyurl = item['share_url'] +"?&affid=inf_eda32f80-54f3-4e98-965b-0749dbdd2c8d"  %}
                    
                    <a href="{{buyurl}}"
                        target="blank_">Buy Now</a>

                </button>
            </div>
        </div>
        <div class="spec">
            <h2>Pros and cons:</h2>
            <h3>General:</h3>
            <p>Brand:ALAMPAR;Model Number:htc 1210;Type:Corded &amp; Cordless;Blade Material:Stainless Steel;Body
                Material:Plastic;Color:Blue;Trimming Range:0.5 - 8 mm;Water Resistant:Yes;Washable
                Head:Yes;Features:Adjustable Trimming Range;Suitable For:Hair Clipping;Charging Time:30 min;Length
                Adjustments:4;</p>
            <h3>Power Features:</h3>
            <p>Power Requirement:battery;Power Source:Battery;Power Consumption:5 W;Batteries Included:Yes;Battery Run
                Time:60 min;</p>
            <h3>Warranty:</h3>
            <p>Warranty Summary:2 Years warranty;</p>
        </div>




    </div>
</div>


{% endblock %}