<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="i_6acCnN6CsatM-a3Uw70X9xO0i2A94uSJb8P0X-ywE" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='icons/icon.webp')}}" type="image/x-icon">
    {%block seo %}
    
    {% endblock %}
</head>
<body>

    {% block content %}

    {%endblock%}
</body>
</html>
