<nav id="hemu">
    <div id="logo">
        <img id="mnicon" src="{{url_for('static' ,filename='icons/menu_black_24dp.svg')}}" alt="menu" onclick="notvisi()">
        <a href="/" title="dealsfind">
            <p>DealsFind</p>
        </a>
    </div>
    <div id="menug">
        <ul id="ul" class="notvisi">

            <li>
                <a href="/" title="dealsfind">Home</a>
            </li>
            <li>
                <a href="/deals" title="deals">Deals</a>
            </li>
            <li>
                <a href="https://earbuzz.site/" title="earbuzz">Earbuzz</a>
            </li>
            <li>
                <a href="https://www.mastiflicks.site/" title="MastiFlicks">MastiFlicks</a>
            </li>
            <!--  <a href="blog.html" alt="technews">
      <li>Blog</li>
    </a>
    
    <a href="news.html/">
      <li>News</li>
    </a> 
-->
        </ul>
    </div>
</nav>

<script>
    function notvisi() {

        let btn = document.getElementById('ul');
        btn.classList.toggle('notvisi')
        console.log("manu")
    }
</script>
